Makefile
Makefile.in
.deps
.libs
.dirstamp
*.o
*.lo
*.la
*~
*.gen.c

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/libtool
/ltmain.sh
/compile
/test-driver
/m4

/megatools

/.vimrc
/*.tar.xz
/*.tar.gz

/docs/*.1
/docs/*.7
/docs/*.5

/src/resources.c
/src/resources.xml

/.megarc*
/.gdbinit
